/* MAIN.CSS is for GLOBAL styles */


*, *:before, *:after { /*selects ALL elements on page. make sure all the elements in Bloc Jams are sized using border-box. */
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }/* We want to keep the 2rem padding that we applied to the point class. However, we don't want the padding to affect the width of the elements, so they will maintain a consistent ratio for both small and large screens. */


html {
    height: 100%; /* makes sure our html takes up 100% of the browser window */
}

body {
    font-family: 'Open Sans'; /* sets our font to the Open Sans typeface from Google fonts */
    color: white; /* sets the text color to white */
    min-height: 100%; /* says the height of the body must be minimum of 100% of the window */
}



.navbar {
    padding: 0.5rem; /* 1/2 root em. use root em (relative to root/base) text size for making responsive sizing easier. space inside of nav bar*/
    background-color: rgb(101,18,95); /* purple */
}

.navbar .logo { /* descendent selector: "logo" inside "navbar" */
    position: relative /* */
    left: 2rem;
}

.container {
    margin: 0 auto; /* 0 top/bottom and auto left/right will center it */
    max-width: 64rem; /* maximum width of element is 64 root em. This is noticeable on large screens */
}


/* MEDIA QUERIES FOR RESPONSIVE BREAKPOINTS */
/* 
iPhone4/5 min-device-width: 320px
Galaxy S3/4 device-width: 320px
Galaxy S5 device-width: 360px
HTC One device-width: 360px
iPhone6 min-device-width: 375px
iPhone6+ min-device-width: 414px

Asus Nexus 7 device-width: 601px
iPad mini, iPad1/2/3/4 min-device-width: 768px
Galaxy Tab 10.1 min-device-width: 800px
Kindle Fire HD 7 min-device-width: 800px
Kindle Fire HD 8.9 min-device-width: 1200px

*/

/* ROOT EM = 16PX in most browsers */

 /* Medium and small screens (640px) smaller tablets and bigger phones */
 @media (min-width: 40rem) { /* Everything that is at least 40 root ems wide */
     html { font-size: 112%; };
     .column {
         float: left; /* sticks to left-side of container */
         padding-left: 1rem;
         padding-right: 1rem;
         }
     .column.full {width: 100%;}
     .column.two-thirds {width: 66.7%;}
     .column.half {width: 50%;}
     .column.third {width: 33.3%;}
     .column.fourth {width: 25%;}
     .column.flow-opposite {float: right;}
}
 
 /* Large screens (1024px) laptops and tablets */
 @media (min-width: 64rem) {
     html { font-size: 120%;}
 }




